#photoContainer{
    min-width:750px;
    height: 600px;
    max-height: 500px;
}

#photo{
    min-width: 550px;
    min-height: 500px;
    float: left;
    width:70%;
    text-align: center;
}

#infobox{
    float: right;
    width: 25%;
    min-width:190px;
    min-height:300px;
    background-color: rgba(50,50,50,0.6);
    padding: 5px;
    padding-bottom: 25px;
}

.infoboxElem{
    padding-bottom: 5px;
}

#photo > img{
    max-height: 500px;
    max-width: 100%;
}

.label{
    text-align: center;
}

.textInput{
    height:50px;
    font-size: large;
    border-radius: 3px;
    width: 170px;
}

#delete > img{
    width: 50px;
}

#privacySelector{
    height:50px;
    font-size: large;
    width: 170px;
}