{% extends "static/templates/base.html" %}
{% block title %}{% if name %}{{name}} - {% endif %}{% trans %}Photo{% endtrans %}{% endblock %}
{% block headParams %}
<link rel="stylesheet" href="/stylesheet/photo.css"/>
<script type="text/javascript" src="/js/photo.js"></script>
{% endblock %}
{% block content %}
<div id="photoContainer">
    <div id="photo" data-photo-id="{{photo_id}}"><img src="/api/photo/download/{{photo_id}}"/></div>
    <div id="owner">{% trans %}PhotoDoneBy{% endtrans %}: {{owner}}</div>
    <div id="date">{% trans %}PhotoDoneIn{% endtrans %}: {{date}}</div>
    {% if edition_permission %}
    <div id="nameEditable">
        <input id="nameInput" value="{{name}}" class="textInput" placeholder="{% trans %}PhotoName{% endtrans %}"/>
    </div>
    <div id="privacy">
        <select id="privacySelector">
            <option value="0"{% if privacy == 0 %} selected="selected"{% endif %}>{% trans %}Public{% endtrans %}</option>
            <option value="1"{% if privacy == 1 %} selected="selected"{% endif %}>{% trans %}RestrictedUsers{% endtrans %}</option>
            <option value="2"{% if privacy == 2 %} selected="selected"{% endif %}>{% trans %}Private{% endtrans %}</option>
        </select>
    </div>
    <div id="visualizations"></div>

    {% else %}
    <div id="nameLabel">{{name}}</div>
    <div id="albums"></div>
    {% endif %}
</div>
{% endblock %}
{% block photosActive %}true{% endblock %}